<p>
  First and foremost, we recommend the <a href="https://software-carpentry.org/lessons/">lessons from Software Carpentry</a> that we followed for this course.  We've added links to those lessons in the syllabus above.
</p>  

<h3> Programming &amp; Data Analysis with R </h3>
<ul>
  <li><strong>General R Help</strong>
  	<ul>
      <li><a href="https://rdrr.io/">rdrr.io</a>: Nicely formatted help for functions in R packages.  Easier to read and even lets you run examples in your browser!</li>
      <li><a href="https://www.rstudio.com/resources/cheatsheets/">R Cheatsheets</a>: Especially recommend data wrangling, data visualization, and R markdown </li>
      <li><a href="http://stackoverflow.com">stackoverflow.com</a>: Great place to ask for or search for help with specific problems.  Many package authors monitor this website.</li>
  	  <li><a href="http://style.tidyverse.org/">Tidyverse (dplyr, tidyr, ggplot) Style Guide</a>: Write neat readable code</li>
  	  <li><a href="http://www.cookbook-r.com/">R Cookbook</a>: Online textbook of sorts</li>
  	</ul>   
  </li>
  <li><strong>Making ggplot Graphs</strong>
    <ul>
      <li><a href="http://docs.ggplot2.org/">ggplot2 Online Documentation</a></li>
      <li><a href="http://www.cookbook-r.com/Graphs/">R Cookbook</a></li>
      <li><a href="http://www.sthda.com/english/wiki/ggplot2-essentials">ggplot2 Essentials</a>: This website has a wealth of information on more advanced or complicated graphs</li>
      <li><a href="http://shiny.stat.ubc.ca/r-graph-catalog/">R Graph Catalog</a>: Lots of graph examples with code by another SWC instructor</li>
      <li><a href="https://cran.r-project.org/web/packages/cowplot/vignettes/introduction.html">Cowplot package</a>: A theme and some extra tools for making publication-ready graphs in ggplot2</li> 
    </ul>
  </li>
  <li><strong>Data Wrangling</strong>
    <ul>
      <li><a href="https://rdrr.io/cran/dplyr/">dplyr package documentation</a></li>
      <li><a href="https://rdrr.io/cran/tidyr/">tidyr package documentation</a></li>
      <li><a href="https://www.rstudio.com/resources/cheatsheets/">RStudio Cheatsheets</a></li>
      <li><a href="http://www.cookbook-r.com/Manipulating_data/">R Cookbook</a></li>
      <li><a href="https://www.rstudio.com/resources/cheatsheets/">RStudio Cheatsheets</a></li>          
      <li><a href="https://www.rstudio.com/resources/webinars/data-wrangling-with-r-and-rstudio/">RStudio webinar</a></li>
	  </ul>
  </li>
  <li><strong>R Markdown &amp; R Notebooks</strong>
    <ul>
      <li><a href="https://rmarkdown.rstudio.com/">R Markdown Official Website</a>: Lots of documentation, examples, and webcasts here</li>
      <li><a href="http://rmarkdown.rstudio.com/authoring_quick_tour.html">Quick tour webcast</a></li>
	  </ul>
  </li>
  <li><strong>Day 1 R Code</strong>
    <ul>
      <li><a href="">Day 1</a></li>
	  </ul>
  </li>  
  <li><strong>Day 2 R Code</strong> 
    <ul>
      <li><a href="">Day 2 - Part 1</a> Control Flow, Functions, Plotting</li>
      <li><a href="">Day 2 - Part 2</a> Data Wrangling</li>
	  </ul>
  </li>  
</ul>   

<h3> Using Git and Github </h3>
<ul>
  <li><strong>Quick References</strong>
	  <ul>
      <li><a href="https://services.github.com/on-demand/downloads/github-git-cheat-sheet.pdf">Git Cheatsheet</a></li>
      <li><a href="https://swcarpentry.github.io/git-novice/reference/">Concepts</a></li>
      <li><a href="https://github.com/k88hudson/git-flight-rules">When things go wrong</a></li>		
      <li><a href="http://r-pkgs.had.co.nz/git.html">RStudio, Git and GitHub</a></li>
	  </ul>
  </li>
  <li><strong>Choosing a Software License</strong>
	  <ul>
      <li><a href="http://www.gnu.org/licenses/license-list.html">Licenses for Code</a></li>
      <li><a href="https://creativecommons.org/choose/">Licenses for books, papers, etc.</a></li>		
      <li>The <a href="https://youtu.be/jw8K460vx1c">"Revolution OS"</a> documentary touches on the software freedom movement (the clip we saw was from <a href="https://youtu.be/jw8K460vx1c?t=17m2s">17:02</a>)</li>
	  </ul>
  </li>	    
  <li><strong>Sharing Data</strong> (will often issue a DOI for your work)
	  <ul>
      <li><a href="http://www.nature.com/sdata/data-policies/repositories">Nature: Discipline-specific data repositories</a></li>
      <li><a href="http://zenodo.org/">Zenodo</a>: Catch-all repository</li>	
	  </ul>
  </li>
</ul>

<h3> Cleaning Data &amp; Databases </h3>
<ul>
  <li><strong>OpenRefine</strong>
    <ul>
      <li><a href="https://github.com/OpenRefine/OpenRefine/wiki/Documentation-For-Users">OpenRefine documentation</a></li>
      <li><a href="https://github.com/OpenRefine/OpenRefine/wiki/Screencasts">Short Video Tutorials</a></li>  
      <li><a href="https://github.com/OpenRefine/OpenRefine/wiki/General-Refine-Expression-Language">GREL: General Refine Expression Language</a></li>
    </ul>
  </li>
  <li><strong>SQL</strong>
    <ul>
      <li><a href="https://www.w3schools.com/sql/default.asp">SQL tutorial:</a> more detail than our workshop</li>
      <li><a href="https://www.w3schools.com/sql/sql_quickref.asp">SQL Quick Reference</a></li>
      <li><a href="http://sql-joins.leopard.in.ua/">SQL Joins Visualizer</a></li>   
    </ul>
  </li>
  <li><strong>Day 2 SQL Code</strong>
    <ul>
      <li><a href="">SQL from DB Browser</a></li>  
      <li><a href="">Using SQL in R</a></li>  
    </ul>
  </li>
</ul>
